<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add name="OTDSiteSqlServer" connectionString="Data Source=MsSql.oldtowndining.com;Initial Catalog=oldtowndining;User ID=oldtowndining;Password=y5EQJ5m7C3" />
    <add name="ODBCTest" providerName="System.Data.ODBC" connectionString="DSN=ODBCTest"/>
    <add name="dnndev_700" providerName="System.Data.ODBC" connectionString="DSN=dnndev_700"/>
    <add name="Micros" providerName="System.Data.ODBC" connectionString="DSN=Micros"/>
  </connectionStrings>
  <appSettings>
    <add key="ReportsFolder" value="c:\reports\" />
    
  </appSettings>

</configuration>
